body {
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  // background-color: var(--primary1);
  background-color: var(--base1);
  padding: 5rem 0;
  height: 100vh;
}

.create-account {
  background-color: var(--base2);
  margin: auto;
  width: 250px;
  padding: 1rem 2.5rem 1rem 2rem;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // box-shadow: 5px 5px 15px hsl(from var(--base2) h s 70%);
    filter: drop-shadow(2px 4px 6px var(--base3));
}

h4 {
  text-transform: uppercase;
  font-weight: 500;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  margin: 0.25rem 0;
  height: 1.5rem;
  width: 100%;
}

.forgot {
  display: flex;
  justify-content: flex-end;
}


.primary {
  background-color: blue;
}